.App {
  text-align: center;
}

.action-button {
  color: white;
  background-color: rgb(61, 211, 61);
  border-radius: 10px;
  font-size: larger;
  padding: 20px;
  border-style: none none solid none;
  border-width: 5px;
  border-color: rgb(44, 156, 44);
}

.action-button:active {
  border-color: rgb(61, 211, 61);
}
